<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online compiler</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="topNav">
        <div class="user">
            <div class="dropdown1">
                <ul>
                    <li><a href="">profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="share">
            <div class="dropdown2">
                <ul>
                    <li>User1<span><img height="15px" src="/static/close.png" alt=""></span></li>
                    <li>User2<span><img height="15px" src="/static/close.png" alt=""></span></li>
                    <li>User2<span><img height="15px" src="/static/close.png" alt=""></span></li>
                    <li>User2<span><img height="15px" src="/static/close.png" alt=""></span></li>
                </ul>
            </div>
        </div>

        <div class="compilerControls" style="padding-right: 60px; width: 500px;">
            <div class="currentFile" style="margin-left: 20px;">myfile.py</div>
            <div class="play" style="display: flex; margin-left: 50px;"><img src="/static/run.png" alt="">Record</div>
            <div class="play" style="display: flex;"><img src="/static/upload.png" height="18px" alt="" onclick="askUpload()">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" style="display: none;" id="inputtingFile">
                    <button id="uploadbutton" style=" display: none; padding-left: 5px; padding-right: 5px; margin-left: 8px; font-size: 13px; border-radius: 5px;">Upload</button>
                </form>
            </div>
            <div class="play" style="margin-left: 20px; display: flex;"><img src="/static/record.png" height="18px" alt=""> Run</div>
        </div>
    </div>
    <div class="wrap1">

        <!--Workspace, manages files-->

        <div class="sideNav">
            <div class="newFF">
                <img height="20[x" src="/static/new-folder.png" alt="" title="New Folder" onclick="askForName('folder')">
                <img src="/static/new_file.png" alt="" title="New File" onclick="askForName('file')">
            </div>
            <div class="ffName">
                <div class="close" onclick="closeoverlay()"></div>
                <input type="text" id="nameee">
                <button onclick="creatingFolder()">Create</button>
            </div>
            {% for i in folders %}
            <div style="background-color: rgba(35, 195, 190, 0.356); width: 200px; padding: 10px; border-radius: 5px; margin-top: 5px;"><span><img height="20px" style="float: left; margin-right: 4px;" src="/static/folder2.png" alt=""></span> 
                {{i.name}}
                <span>
                    <img height="14px" style="margin-left: 4px;" src="/static/arrow.png" alt=""  onclick="viewFiles({{i.id}})">
                    <div class="newFF" style="float: right;">
                        <!-- <img height="20[x" src="/static/new-folder.png" alt="" title="New Folder" onclick="askForName('folder',1)"> -->
                        <img src="/static/new_file.png" alt="" title="New File" onclick="askForName('file',{{i.id}})">
                    </div>
                </span>
                <ul style="margin-left: 40px; margin-top: 10px; list-style: none; font-size: 14px; display: none;"  id="folder{{i.id}}">
                    {% for j in i.files.all %}
                    <li class="file" onclick="fetchFile({{  }})"><span style="float: left; margin-right: 5px;" id="{{j.id}}"><img src="/static/file.png" height="15px" alt=""></span>
                        {{j.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- <div style="background-color: rgba(35, 195, 190, 0.356); width: 200px; padding: 10px; border-radius: 5px; margin-top: 5px;"><span><img height="20px" style="float: left; margin-right: 4px;" src="/static/folder2.png" alt="" id="fid1"></span> 
                C++
                <span onclick="viewFiles(2)">
                    <img height="14px" style="margin-left: 4px;" src="/static/arrow.png" alt="">
                </span>
                <ul style="margin-left: 40px; margin-top: 10px; list-style: none; font-size: 13px; display: none;"  id="folder2">
                    <li class="file"><span style="float: left; margin-right: 5px;"><img src="/static/file.png" height="15px" alt=""></span>myfile.py</li>
                </ul>
            </div> -->
            {% endfor %}
            {% for i in files %}
            <p class="file" id="{{i.id}}"><span style="float: left; margin-right: 5px;"><img src="/static/file.png" height="15px" alt=""></span>{{i.name}}</p>
            {% endfor %}
        </div> 
        
        <!--Workspace, manages files Ends-->


        <div class="wrap2">
            <div class="editor"><textarea spellcheck="false" name="" id="" cols="30" rows="10"></textarea></div>
            <div class="terminal">dfg</div>
        </div>
    </div>

    <script>
        folder = false;
        file = false;
        let fileEditing = ["xyz",0];
        let parent = 0;
        isparent = false;
        let folderNo = 4;
        let workspace = 1;
        // Ajax code for functioning 
        
        async function createFolder(name,url,parent=-1){
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/'+url);
            xhr.setRequestHeader('X-CSRFToken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
            xhr.send(JSON.stringify({name: name, workspace: workspace,parent: parent}));
            xhr.onload = () => {
                const FID = JSON.parse(xhr.responseText)['id'];
                console.log(FID);
                create(FID,name);
            }
        }

        // AJAX codes Enc
        const viewFiles = (fNo) => {
            const folder1 = document.getElementById('folder' + fNo);
            if(folder1.style.display === 'none'){
                folder1.style.display = 'block';
            }else{
                folder1.style.display = 'none';
            }
        }
        const closeoverlay = () => {
            document.getElementsByClassName("ffName")[0].style.display = 'none';
            file = 0;
            folder = 0;
        }
        const askForName = (types,id=0) => {
            parent = id;
            if(id!=0){
                isparent = true;
            }
            if(types === 'folder'){
                folder = true;
                file = false;
            }else{
                folder = false;
                file = true;
            }
            document.getElementsByClassName("ffName")[0].style.display = 'flex';
        }  
        function creatingFolder(){
            const name = document.getElementById('nameee').value;
            if (folder) {
                createFolder(name,'createFolder');
            }
            if (file) {
                createFolder(name,'createFile',parent);
                console.log(fileNo);
            }
            
        }
        const create = (ffno,name) => {
            console.log("---");
            document.getElementById('nameee').value = "";
            if(folder){
                const folder1 = document.createElement('div');
                folder1.style.backgroundColor = 'rgba(35, 195, 190, 0.356)';
                folder1.style.width = '200px';
                folder1.style.padding = '10px';
                folder1.style.borderRadius = '5px';
                folder1.style.marginTop = '5px';
                folder1.innerHTML = `<span><img height="20px" style="float: left; margin-right: 4px;" src="/static/folder2.png" alt=""></span> ${name}
                <span onclick="viewFiles(${ffno})">
                    <img height="14px" style="margin-left: 4px;" src="/static/arrow.png" alt="">
                </span>
                <ul style="margin-left: 40px; margin-top: 10px; list-style: none; font-size: 13px; display: none;"  id="folder${ffno}">
                </ul>`;
                document.getElementsByClassName("sideNav")[0].appendChild(folder1);
                folderNo++;
                folder = false;
            }

            if(file){
                console.log(isparent, parent);
                if(isparent){
                    console.log("---- Inside the parent appending condition ----");
                    const file1 = document.createElement('li');
                    file1.className = 'file';
                    file1.innerHTML = `<span style="float: left; margin-right: 5px;"><img src="/static/file.png" height="15px" alt=""></span> ${name}`;
                    document.getElementById('folder' + parent).appendChild(file1);
                    parent = 0;
                }else{
                    const file1 = document.createElement('p');
                    file1.className = 'file';
                    file1.innerHTML = `<span style="float: left; margin-right: 5px;"><img src="/static/file.png" height="15px" alt=""></span> ${name}`;
                    document.getElementsByClassName("sideNav")[0].appendChild(file1);
                }
                file = false;
            }
            
            document.getElementsByClassName("ffName")[0].style.display = 'none';
        }

        const  askUpload = () => {
            document.getElementById("inputtingFile").click();
            document.getElementById("uploadbutton").style.display = 'block';
        }


    </script>
</body>
</html>