*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.topNav{
    position: absolute;
    height: 40px;
    width: 100vw;
    background-color: #0F044C;
}

.sideNav{
    box-sizing: border-box;
    padding-top: 50px;
    color: white;
    font-size: 14px;
    padding-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width:20vw;
    background-color: #0F044C;
    overflow-y: auto;
    overflow-x: hidden;
}
.sideNav::-webkit-scrollbar{
    display: none;
}

.wrap1{
    display: flex;
}
.wrap2{
    display: flex;
    flex-direction: column;
}

.editor{
    padding-top: 40px;
    box-sizing: border-box;
    height:70vh;
    width: 80vw;
    background-color: #1A1A40;
}
.editor > textarea {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: 10px;
    color: yellow;
}
.terminal{
    height:30vh;
    width: 80vw;
    background-color: #242a39;
    box-sizing: border-box;
    padding: 30px;
    color: rgb(222, 222, 60);
}
.file{
    cursor: pointer;
}
.file > span{
    float: left;
    margin-right: 5px;
}
.file:hover{
    color: #79c76a;
}

.user{
    float: right;
    margin-right: 30px;
    margin-top: 1px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("/static/user.png");
    background-size: cover;
    cursor: pointer;
}

.dropdown1{
    display: none;
    margin-left: -40px;
    margin-top: 40px;
    height: 50px;
    position: relative;
    background-color: rgba(66, 146, 193, 0.872);
    width: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    z-index: 10;
}
.user:hover .dropdown1 {
    display: flex;
}
.dropdown1>ul{
    list-style: none;
    padding-top: 20px;
    font-family: sans-serif;
}
.dropdown1>ul>li{
    padding: 7px;
    font-size: 14px;
}
.dropdown1>ul>li>a{
    color: #0F044C;
    text-decoration: none;
}

.share{
    float: right;
    margin-right: 50px;
    margin-top: 3px;
    height: 40px;
    width: 40px;
    background: url("/static/add_user.png");
    background-size: cover;
}
.share:hover .dropdown2{
    display: block;
}
.dropdown2{
    display: none;
    position: absolute;
    background-color: rgb(41, 143, 177);
    width: 100px;
    margin-left: -20px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
    margin-top: 30px;
}
.dropdown2>ul{
    list-style: none;
    font-family: sans-serif;
}
.dropdown2>ul>li{
    padding: 3px;
    font-size: 14px;
}
.dropdown2>ul>li>span{
    float: right;
}
.compilerControls{
    padding-right: 60px;
    width: 500px;
    margin-top: 4px;
    margin-left: 275px;
    height: 33px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.play{
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    background-color: rgb(105, 159, 226);
    padding: 4px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.play>img{
    float: left;
    margin-right: 5px;
    filter: hue-rotate(180deg);
    /* filter: brightness(0.7); */
}

.currentFile{
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9fd572;
    margin-left: 20px;
}

.File_Folder_Modal{
    height: 120px;
    width: 250px;
    background-color: rgba(25, 105, 142, 0.955);
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.File_Folder_Modal > input{
    border-radius: 5px;
    height: 20px;
    background-color: #eddbe5c9;
    border: none;
    outline: 1px solid blue;
    padding-left: 10px;
}

.File_Folder_Modal>button{
    padding: 6px 30px 6px 30px;
    background-color: #7681e6;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: 700;
}
.close{
    float: right;
    height: 15px;
    width: 15px;
    background-color: yellow;
    position: absolute;
    margin-top: -80px;
    margin-right: -200px;
    border-radius: 50%;
    background:url("/static/close.png");
    background-size: cover;
}

.sideNav>p{
    margin-left: 11px;
    margin-top: 8px;
}

#uploadbutton{
    display: none; 
    padding: 0 5px 0 5px;
    margin-left: 8px; 
    font-size: 13px; 
    border-radius: 5px;
}


#inputtingFile{
    display: none;
}

.FolderWrap{
    background-color: rgba(35, 195, 190, 0.356); 
    width: 200px;
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 5px;
}

.FolderWrap>ul{
    margin-left: 40px; 
    margin-top: 10px; 
    list-style: none; 
    font-size: 14px; 
    display: none;
}

.ExploreMore{
    float: left; 
    margin-right: 4px;
}
.primary_button{
    padding: 8px;
    border: none;
    background-color: rgb(50, 50, 232);
    color: white;
    font-size: 12px;
    border-radius: 10px;
}

overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 0vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-bottom-right-radius: 50%;
    animation: flow 0.5s ease-in-out;
    animation-fill-mode: forwards;
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 33;
}

@keyframes flow {
    from{
        width: 0vw;
        width: 0vw;}
    to{
        height: 100vh;
        width: 100vw;
        border-bottom-right-radius: 0px;
    }
}

overlay>input{
    width: 60vw;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 10px;
}

overlay>form>input:focus{
    outline: 2px solid rgb(43, 108, 154);
}

.closeN{

    position: absolute;
    top: 80px;
    right: 80px;
    width: 30px;
    height: 30px;
    background-color: #7681e6;
    border-radius: 50%;
    border: none;
}

.closeN:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #7681e6;
}
